---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#sidebar .site-title a {
  font-family: "Courier New", monospace;
  color: #4a86e8;
}

#topbar-title {
  font-family: "Courier New", monospace;
  color: #4a86e8;
}

/* a {
  color: #4a86e8;
} */

pre,
code {
  font-family: 'JetBrains Mono';
  font-weight: normal;
}
