---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

#sidebar .site-title a {
  font-family: "Courier New", monospace;
  color: #4a86e8;
}

/* #topbar-title {
  font-family: "Courier New", monospace;
  color: #4a86e8;
} */

pre,
code {
  font-family: 'JetBrains Mono';
}

/* .go {
  font-family: 'JetBrains Mono';
  font-weight: normal;
} */

.video_container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* body {
  font-family: 'JetBrains Mono';
} */

/* blockquote[class^="prompt-"]::before {
  font-family: 'JetBrains Mono';
} */

/* kbd {
  font-family: 'JetBrains Mono';
} */

/* #topbar-title {
  font-family: 'JetBrains Mono';
} */

/* #notification .toast-body {
  font-family: 'JetBrains Mono';
} */

/* .pagination {
  font-family: 'JetBrains Mono';
} */

/* .tag span {
  font-family: 'JetBrains Mono';
} */

/* #archives .date.day {
  font-family: 'JetBrains Mono';
} */
